 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/369003913_1009820383460933_2143551253004752187_n.jpg");
  background-position: 50% 24.32%;
  min-height: 1202px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1202px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 5px -3px 6px rgba(119,170,217,1);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: Oswald, sans-serif;
  font-style: italic;
  margin: 81px -211px 0 43px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 700;
  text-shadow: 5px 2px 8px rgba(233,242,250,0.4);
  font-family: Oswald, sans-serif;
  margin: 36px -10px 0 69px;
}

    .u-section-1 .u-btn-1 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        border-style: solid;
        margin: 20px 126px 0 100px;
    }

    .u-section-1 .u-btn-2 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin: 20px 163px 0 60px;
    }

    .u-section-1 .u-btn-3 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin: 20px 115px 0 120px;
        padding: 10px 8px 10px 7px;
    }

    .u-section-1 .u-btn-4 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin: 20px 100px 0 70px;
        padding: 10px 12px 10px 10px;
    }

    .u-section-1 .u-btn-5 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin: 20px 89px 0 100px;
        padding: 10px 15px 10px 14px;
    }

    .u-section-1 .u-btn-6 {
        background-image: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin: 20px 155px 0 120px;
        padding: 10px 12px 10px 10px;
    }

/*#region CSS Desktop*/

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -7px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1108px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    width: auto;
    margin-top: 71px;
    margin-right: -239px;
    margin-left: 56px;
  }

    .u-section-1 .u-text-2 {
        font-size: 3.75rem;
        width: auto;
        margin: 36px -10px 0 15px;
    }

    .u-section-1 .u-btn-1 {
        --radius: 4px;
        font-size: 1rem;
        margin-top: 20px;
        margin-right: 57px;
        padding: 8px 36px 9px 35px;
    }

    .u-section-1 .u-btn-2 {
        --radius: 4px;
        border-style: solid;
        font-size: 1rem;
        margin-right: 106px;
        padding: 8px 20px 9px;
    }

    .u-section-1 .u-btn-3 {
        font-size: 1rem;
        margin-right: 53px;
    }

    .u-section-1 .u-btn-4 {
        margin-right: 9px;
        font-size: 1rem;
    }

    .u-section-1 .u-btn-5 {
        font-size: 1rem;
        margin-right: 27px;
    }

    .u-section-1 .u-btn-6 {
        font-size: 1rem;
        margin-right: 87px;
    }
}

/*#endregion*/

/*#region CSS Laptop*/
@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 82px;
    margin-right: -154px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 33px;
    margin-right: -55px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 42px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: -15px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: -37px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 19px;
    margin-right: -33px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 19px;
    margin-bottom: -94px;
  }
}

/*#endregion*/

/*#region CSS Samsung A21s*/

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2042px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -7px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.2rem;
    margin-top: 84px;
    margin-right: -175px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
    margin-right: -36px;
    margin-left: 36px;
  }

    .u-section-1 .u-btn-1 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 155px;
        padding-right: 13px;
        padding-left: 11px;
    }

    .u-section-1 .u-btn-2 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 105px;
        padding-right: 13px;
        padding-left: 12px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 155px;
    }

    .u-section-1 .u-btn-4 {
        font-size: 1rem;
        margin-top: 20px;
        margin-right: auto;
        margin-left: 105px;
    }

    .u-section-1 .u-btn-5 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 105px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .u-section-1 .u-btn-6 {
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: -186px;
        margin-left: 155px;
    }
}

/*#endregion*/



@media (max-width: 575px) {

    .u-section-1 {
        background-position: 63.76% 24.32%;
        min-height: 1200px;
    }

        .u-section-1 .u-layout-cell-1 {
            min-height: 753px;
        }

        .u-section-1 .u-layout-wrap-1 {
            margin-top: -7px;
            margin-bottom: 60px;
        }

        .u-section-1 .u-text-1 {
            line-height: 1;
            width: auto;

            margin-top: 20px;
            margin-right: -239px;
            margin-left: 20px;
            font-size: 2.2rem;
        }

        .u-section-1 .u-text-2 {
            font-size: 2.2rem;
            width: auto;
            margin-top: 30px;
            margin-right: -79px;
            margin-left: 40px;
        }

        .u-section-1 .u-btn-1 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-2 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-3 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-4 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-5 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-6 {
            --radius: 4px;
            margin: 20px 30px auto;
            font-size: 1rem;
        }

@media (max-width: 575px) {
  .u-section-2 .u-social-icons-1 {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 29px;
  }
}.navmenu {
}



@media (max-width: 340px) {
 
    .u-section-1 {
        background-position: 63.76% 24.32%;
        min-height: 1200px;
    }

        .u-section-1 .u-layout-cell-1 {
            min-height: 753px;
        }

        .u-section-1 .u-layout-wrap-1 {
            margin-top: -7px;
            margin-bottom: 60px;
        }

        .u-section-1 .u-text-1 {
            line-height: 1;
            width: auto;
            margin-top: 20px;
            margin-right: -239px;
            margin-left: 20px;
            font-size: 2.2rem;
        }

        .u-section-1 .u-text-2 {
            font-size: 2.2rem;
            width: auto;
            margin-top: 30px;
            margin-right: -79px;
            margin-left: 40px;
        }

        .u-section-1 .u-btn-1 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-2 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-3 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-4 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-5 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 10px;
            padding: 8px 20px 9px;
            font-size: 1rem;
        }

        .u-section-1 .u-btn-6 {
            --radius: 4px;
            margin-top: 15px;
            margin-left: 40px;
            font-size: 1rem;
        }
}